.amber{color:#000;background-color:#ffc107}
.aqua{color:#000;background-color:#00ffff}
.blue{color:#fff;background-color:#2196F3}
.light-blue{color:#000;background-color:#87CEEB}
.dark-blue {color:#000;background-color: #124185;}
.brown{color:#fff;background-color:#795548}
.cyan{color:#000;background-color:#00bcd4}
.blue-grey,.blue-gray{color:#fff;background-color:#607d8b}
.green{color:#fff;background-color:#4CAF50}
.light-green{color:#000;background-color:#8bc34a}
.indigo{color:#fff;background-color:#3f51b5}
.khaki{color:#000;background-color:#f0e68c}
.lime{color:#000;background-color:#cddc39}
.orange{color:#000;background-color:#ff9800}
.deep-orange{color:#fff;background-color:#ff5722}
.pink{color:#fff;background-color:#e91e63}
.pale-pink{color:#fff;background-color:#f9ccca}
.light-pink{color:#fff;background-color:#ffb7c5}
.purple,.hover-purple:hover{color:#fff;background-color:#9c27b0}
.deep-purple,.hover-deep-purple:hover{color:#fff;background-color:#673ab7}
.red{color:#fff;background-color:#f44336}
.sand{color:#000;background-color:#fdf5e6}
.teal{color:#fff;background-color:#009688}
.yellow{color:#000;background-color:#ffeb3b}
.white{color:#000;background-color:#fff}
.black{color:#fff;background-color:#000}
.grey,.gray{color:#000;background-color:#bbb}
.light-grey,.light-gray{color:#000;background-color:#f1f1f1}
.dark-grey,.dark-gray{color:#fff;background-color:#616161}
.pale-red{color:#000;background-color:#ffdddd}
.pale-green{color:#000;background-color:#ddffdd}
.pale-yellow{color:#000;background-color:#ffffcc}
.pale-blue{color:#000;background-color:#ddffff}
.text-red{color:#f44336}
.text-green{color:#4CAF50}
.text-blue{color:#2196F3}
.text-dark-blue {color: #124185}
.text-yellow{color:#ffeb3b}
.text-white{color:#fff}
.text-black{color:#000}
.text-grey,.text-gray{color:#757575}
.text-amber{color:#ffc107}
.text-aqua{color:#00ffff}
.text-light-blue{color:#87CEEB}
.text-brown{color:#795548}
.text-cyan{color:#00bcd4}
.text-blue-grey,.text-blue-gray{color:#607d8b}
.text-light-green{color:#8bc34a}
.text-indigo{color:#3f51b5}
.text-khaki{color:#b4aa50}
.text-lime{color:#cddc39}
.text-orange{color:#ff9800}
.text-deep-orange{color:#ff5722}
.text-pink{color:#e91e63}
.text-pale-pink{color:#f9ccca;}
.text-light-pink{color:#ffb7c5;
.text-purple{color:#9c27b0}
.text-deep-purple{color:#673ab7}
.text-sand{color:#fdf5e6}
.text-teal{color:#009688}
.text-light-grey,.text-light-gray{color:#f1f1f1}
.text-dark-grey,.text-dark-gray{color:#3a3a3a}