:root {
  --green-primary: #36F2B9;
  --green-secondary: #28E49A;
  --green-tertiary: #3AC19E;
  --accent-blue: #2AC6F9;
  --accent-yellow: #FFF338;
  --grey: #212223;
  --black: #0B0C0D;
  --cmu-red: #C51230;
  --cmu-grey: #6D6E71;
  --pale-green: #E8F7EE;
  --blue: #21A0A0;
  --gray: #EAEAEA;
  --scots-rose: #EF3A47;
  --gold-thread: #FDB42F;
  --teal-thread: #018F91;
  --blue-thread: #053673;
  --highlands-blue: #008BC0;
  --off-white: #F9F9F9;
  --ab: #28536B;
  --at: #23967F;
  --adb: #0B3954;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--off-white);
  font-size: x-large;
}

header {
  text-align: center;
  z-index: 1;
}

#container {
  display: grid;
  grid-template-columns: 10vw 10vw 10vw auto 10vw 10vw 10vw;
  justify-content: center;
  text-align: center;
}

#greeting {
  color: var(--scots-rose);
  grid-column-start: 2;
  grid-column-end: 3;
}

#video-container {
  justify-content: center;
  display: grid;
}

#tagline {
  position: relative;
  top: 10px;
  left: 10px;
  z-index: 2;
  /* box-shadow: inset 0 10px 0 0 green */
  /* border-top:-30px solid green; */
  /* box-shadow: 10px 0 0 0 var(--off-white); */
  /* box-shadow: inset 0 10px 0 0 var(--off-white); //Full Box //Pick a color any color */
  /* background-color: var(--off-white); */
  width: 40%;
  font-family: "Raleway", sans-serif;
}

#masthead-video {
  border: 1px solid black;
  border-radius: 0.5vmin;
}

#foreground {
  background-color: #DCDCDC;
  border-radius: 1.5vmin;
  width: 97vw;
  height: 97vh;
  z-index: -1;
  position: absolute;
  top: 1.5vmin;
  left: 1.75vmin;
}

.card {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  border-radius: 1vmin;
  transition: 0.3s;
  background-color: white;
  margin: 3vmin;
  padding: 2vmin;
  z-index: 3;
}

.card:hover {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
}

#masthead {
  justify-content: center;
  display: grid;
  grid-column-start: 3;
  grid-column-end: 6;
}

hr {
  border: 1px solid black;
}

#masthead-video {
  height: 300px;
  display:block;
}

#bio {
  padding: 2vmin;
  display: grid;
  grid-template-columns: 10vw auto 10vw;
  font-family: "Open Sans", sans-serif;
}

#about {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-bottom: 2  vmin;
}

#cmu {
  margin: 0.5vmin;
  padding: 0.3vmin 0.4vmin;
  border-radius: 0.5vmin;
  color: white;
  background-color: var(--scots-rose);


}

#cmu:hover {
  color: var(--scots-rose);
  font-weight: bolder;
  background-color: inherit;
  -webkit-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;

}

#links  {
  padding-top: 1vmin;
  grid-column-start: 1;
  grid-column-end: end;
}

.hover-box {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  margin: 1vmin;
  padding: 3px 5px;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -2px 0 var(--blue-thread);

}
.hover-box:hover {
  border-radius: 3px;
  box-shadow: inset 0 -64px 0 0 var(--blue-thread);
  color: white;
}


#projects-title {
  grid-column-start: 2;
  grid-column-end: 3;
  color: var(--adb);
}

#projects {
  display: grid;
  grid-template-columns: 15vw 10vw 5vw auto 5vw 10vw 15vw;
}

#projects > .card {
  grid-column-start: 4;
  grid-column-end: 5;
}

.project-title {
  font-size: 2vmax;
  grid-column-start: 1;
  grid-column-end: 2;
}
.project-description, .project-link {
  font-size: 1.25vmax;
}

.project-link {
  text-decoration: underline;
  text-align: right;
}

footer {
  text-align: center;
}
