:root {
  --green-primary: #36F2B9;
  --green-secondary: #28E49A;
  --green-tertiary: #3AC19E;
  --accent-blue: #2AC6F9;
  --accent-yellow: #FFF338;
  --grey: #212223;
  --black: #0B0C0D;
  --red: #C51230;
  --pale-green: #E8F7EE;
  --blue: #21A0A0;
  --gray: #EAEAEA;
  --scots-rose: #EF3A47;
  --gold-thread: #FDB42F;
  --teal-thread: #018F91;
  --blue-thread: #053673;
  --highlands-blue: #008BC0;
  --off-white: #F9F9F9;
}

#crayon-overlay {
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("crayon4.png");
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}

hr {
  border: 0;
  height: 3px;
  background: var(--scots-rose);
}

/* Mobile first */
body {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  background-color: white;
  overflow-x: hidden;
}

header {
  display: none;
}

header>a, header>span>a {
  text-decoration: none;
}

#logo-home {
  margin-left: 1vmin;
  font-size: 2.5vmax;
}

#nav-right {
  float: right;
}

#nav-right>a {
  margin-left: 2vw;
  margin-right: 2vw;
}

#masthead {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#masthead-text {
  height: 48vh;
  padding: 1vh;
  font-family: "Red Hat Display", sans-serif;
}

#hello {
  /* text-align: center; */
  font-size: 10vw;
  padding: 0;
  margin: 0;
  margin-top: 10vh;
}

#intro {
  font-size: 7vw;
}

#head-graphic {
  height: 48vh;
  width: auto;
}

#about {
  padding: 5vmin;
  font-size: 6.5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#cmu-red {
  color: var(--scots-rose);
}

.card {
  box-shadow: 0.3px 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1vmin;
  transition: 0.3s;
  background-color: white;
  margin: 3vmin;
  z-index: 3;
}

.card:hover {
  box-shadow: 0.5px 7px 9px 0 rgba(0, 0, 0, 0.2);
}

.project-link {
  transition: 0.3s;
  color: var(--scots-red);
}

.projects-header {
  font-size: 6vmin;
}

#container {
  padding: 1vmax 2vmax;
}

footer {
  padding: 2vmin;
  margin-top: 5vmin;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}
#footer {

}

#project, #building {
  max-width: 70vw;
  justify-content: center;
  align-items: center;
}

#work-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#links>a {
  color: var(--scots-rose);
  text-decoration: none;
}

#links > a:before {
  content: "";
  position: absolute;
  width: 110%;
  height: 3px;
  bottom: -3px;
  left: -5%;
  background: inherit;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

#links>a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#links>a:hover {
  /*transition-duration: 0.2s;*/
  transition: all 0.2s ease-in-out 0s;
  transform: scale(1.2);
  /*-webkit-transition-duration: 0.2s;*/
  -webkit-transition: all 0.2s ease-in-out 0s;
  -webkit-transform: scale(1.2);
}

/* Tablet */
@media all and (min-width: 768px) {
  #masthead {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #masthead-text {
    height: 46vh;
    font-family: "Red Hat Display", sans-serif;
  }

  #hello {
    /* text-align: center; */
    font-size: 9vw;
    padding: 0;
    margin: 0;
    margin-top: 2vh;
  }

  #intro {
    font-size: 6vw;
  }

  #head-graphic {
    /* align-self: flex-end; */
    height: 40vh;
    width: auto;
  }

  #about {
    padding: 5vmin;
    font-size: 6.5vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }

  .card {
    border-radius: 1vmin;
    transition: 0.3s;
    margin: 3vmin;
  }

  .project-link {
    transition: 0.3s;
    font-size: 4vmin;
  }

  .projects-header {
    font-size: 6vmin;
  }

  .project-title {
    font-size: 4.5vmin;
  }

  .project-description {
    font-size: 4vmin;
  }

  #container {
    padding: 1vmax 2vmax;
  }

  footer {
    padding: 2vmin;
    margin-top: 5vmin;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 4vmin;
    border-radius: 1vmin;
    padding-bottom: 0;

  }
}

/* Laptop */
@media all and (min-width: 1000px) {
  body {
    padding: 0;
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #masthead {
    /* self-align: center; */
    display: flex;
    flex-direction: row;
    height: 97vh;
    align-items: center;
    align-content: center;
    jusitfy-content: center;
  }

  #masthead-text {
    height: auto;
    /* padding: 1vh; */
    font-family: "Red Hat Display", sans-serif;
  }

  #hello {
    /* text-align: center; */
    font-size: 5vw;
    padding: 0;
    margin: 0;
    /* margin-top: 8vh; */
    max-width: 30vw;
  }

  #intro {
    font-size: 2vw;
    max-width: 30vw;
    /* text-align: center; */
  }

  #head-graphic {
    height: 46vh;
    max-width: 48vw;
  }

  #about {
    padding: 5vmin;
    font-size: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-bottom: 8vh;
    max-width: 55vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
  }

  .card {
    border-radius: 1vmin;
    transition: 0.3s;
    margin: 3vmin;
  }

  .card {
    max-width: 30vw;
  }

  .project-link {
    transition: 0.3s;
    font-size: 2vmin;
  }

  .projects-header {
    font-size: 4vmin;
    text-align: center;
  }

  .project-title {
    font-size: 3.5vmin;
  }

  .project-description {
    font-size: 3vmin;
  }

  #container {
    padding: 1vmax 2vmax;
  }

  footer {
    padding: 2vmin;
    margin-top: 5vmin;
    text-align: center;
    display: flex;
    justift-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 2.5vmin;
    boder-radius: 5vmin;
    width: 90vw;
    padding-bottom: 0;

  }

  #building-projects, #projects {
    display: flex;
    flex-direction: row;
  }
}
