body {
    display: grid;
    grid-template-columns: 10vw auto 5vw auto 10vw;
    grid-template-rows: 20vh 60vh 20vh;
    margin: 0;
}

#participant-tip {
    grid-column-start: 2;
    grid-row-start: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#pepper-tip {
    grid-column-start: 4;
    grid-row-start: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#header {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    grid-row-start: 1;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 3vw;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F9;
    background-color: rgb(197, 246, 201);
}

div {
    margin: 2vh;
    padding: 0vh 1vw;
    /* border: 3px solid rgb(197, 246, 201); */
    border-radius: 5px;
}

#header {
    /* color: #2F4550; */
    color: black;
}

.cond {
    background-color: #59CD90;
    /* color: rgb(197, 246, 201); */
    color: white;
}