@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --gray: #7A7376ff;
    --platinum: #E3E1E2ff;
    --silver: #C5C3C2ff;
    --taupe-gray: #9C9797ff;
    --charcoal: #2E4148ff;
    --raisin-black: #272627ff;
    --davys-gray: #585456ff;
    --silver-2: #C8CBCDff;
    --cmu-red: #C51230;
    --accent-1: #274752;
    --accent-: #c0592a;
    /* --background: #efefef; */
    --background: #f0feff;
    --content-bkg: #e7e5e6;
    --midnight-green: #0B3C49;
    --raspberry: #DD1155;
    --orange-wheel: #FF7F11;
    --light-sea-green: #21A0A0;
}

html {
    height: 100%;
    width: 100%;
    background-color: var(--background);
}

#icons {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-content: space-around;
    align-items: center;
    color: var(--accent);
    margin-top: 2vh;

}

#mobile-disclaimer {
    font-size: small;
    text-align: center;
    font-style: italic;
}

#container {
    display: grid;
    grid-template-columns: 25vw 70vw;
    grid-gap: 3vw;
}


.large-description {
    display: none;
}

.work-flag {
    border-radius: 1vh;
    max-width: 30vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-section-text {
    line-height: 0.2;
}

.section-box:nth-child(1) {
    background-color: var(--light-sea-green);
}

.section-box:nth-child(2) {
    background-color: var(--midnight-green);
}

@media screen and (min-width: 768px) {
    #container {
        display: grid;
        grid-template-columns: 20vw 73vw;
        grid-gap: 3vw;
    }

    #mobile-disclaimer {
        display: none;
    }

    .large-description {
        display: inherit;
    }

    .work-flag {
        border-radius: 1vh;
        max-height: 10vw;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .sub-section-text {
        line-height: 1;
    }

    .section-content>h1 {
        font-size: 5vh;
        font-weight: bolder;
    }

    #icons {
        flex-direction: row;
        font-size: 40px;
    }
}



#left {
    position: sticky;
    top: 1vh;
    grid-column: 1;
    height: 100vh;
}

#right {
    grid-column: 2;
}

.section-box {
    border-radius: 10px;
    border: 1px solid;
    height: 10vh;
    margin-top: 1vh;
    padding: 0.5vh 1vh;
    transition: height 0.3s ease-in-out;
    background-color: var(--accent-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-content {
    border: 4px solid #00000022;
    margin: 2vh;
    padding: 2vh;
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 4vh;
    /* background-color: var(--content-bkg); */
}

.section-content h1 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top: -5vh;
    background-color: var(--background);
    /* width: 10vw; */
    padding-left: 2vw;
    padding-right: 2vw;
    width: auto;
}




.sub-section-title {
    font-size: 1.1em;
    font-weight: 600;
}

.sub-section {
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 1vh 1vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    /* border-top: 2px solid rgba(0, 0, 0, 0.2); */
}

.linked>a {
    /* text-decoration: none; */
    color: black;
}

#name {
    font-size: xx-large;
    align-self: center;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

#cmu {
    font-weight: bolder;
    margin: 0.5vmin;
    padding: 0.3vmin 0.4vmin;
    border-radius: 0.5vmin;
    color: var(--cmu-red);
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    margin-top: 5vh;
    width: 98vw;
}



#icons>a:hover {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

#icons>a {
    color: inherit;
    transition: all 0.3s ease-in-out;
}

.prof {
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: var(--accent);
}