@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --madder: #C41230;
    --greh: #a5a5a7;
    /* --zomp: #2CA58D; */
    --zomp: #0c694d;
    --background: rgb(240, 243, 243);
    --accent-1: #0c694d;
    --section-outline-color: #0c7e323d;
}

.marginless {
    margin: 0 !important;
}

.paddingless {
    padding: 0 !important;
}

html,
body {
    /* background-color: #E2E3DD; */
    /* background-color: #D4D1C9; */
    background-color: var(--background);
    color: #141615;
}

body {
    /* background-color: rgb(34, 177, 120); */
    padding: 2vw 3vh;
    overflow-x: hidden;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    font-weight: 600;
}

a {

    color: inherit;
    font-style: italic;
    text-decoration: none;
    -webkit-text-decoration: none;
    text-emphasis: none;
    -webkit-text-emphasis: none;
}

a:hover {
    color: var(--a-color);
}

br {
    display: block;
    margin: 20px 0;
    padding: 30px;
}

#masthead {
    width: 805px;
    max-width: 100%;
}

#mobile-disclaimer {
    font-size: small;
    text-align: center;
    font-style: italic;
}

.large-description {
    display: none;
}

.work-flag {
    border-radius: 1vh;
    max-width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.sub-section-text {
    line-height: 0.1;
}

#raw-materials {
    margin-top: 50px;
}

#icons {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: space-around;
    width: 50%;

}

#left {
    display: none;
}

@media screen and (min-width: 768px) {
    #raw-materials {
        display: grid;
        grid-template-columns: 25% 63%;
        grid-gap: 3vw;
    }

    #mobile-disclaimer {
        display: none;
    }

    .large-description {
        display: inherit;
    }

    .work-flag {
        border-radius: 1vh;
        max-height: 10vw;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .sub-section-text {
        line-height: 1;
    }

    .section-content>h1 {
        font-size: 5vh;
        font-weight: bolder;
    }




    #left {
        position: sticky;
        top: 1vh;
        grid-column: 1;
        height: 100vh;
    }

    #right {
        grid-column: 2;
    }


    .left-subsection {
        /* padding-right: 1vh; */
        grid-column: 1;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    }

    .left-subsection>p {
        margin: 8px;
    }

    .sub-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-height: 30vh;

    }

    #left {
        display: block;
    }

}



.section-box {
    border-radius: 10px;
    border: 1px solid;
    height: 10vh;
    margin-top: 1vh;
    padding: 0.5vh 1vh;
    transition: height 0.3s ease-in-out;
    background-color: var(--accent-1);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-content {
    border: 4px solid var(--section-outline-color);
    margin: 2vh;
    padding: 2vh;
    border-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    margin-top: 4vh;
    /* background-color: var(--content-bkg); */
}

.section-content h1 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top: -5vh;
    background-color: var(--background);
    /* width: 10vw; */
    padding-left: 2vw;
    padding-right: 2vw;
    width: auto;
}




.sub-section-title {
    font-size: 1.1em;
    font-weight: 600;
}

.sub-section {

    padding-top: 2vh;
    padding-bottom: 3vh;
    margin: 1vh 1vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    /* border-top: 2px solid rgba(0, 0, 0, 0.2); */
}

.sub-section-last {
    border-bottom: none !important;
}


.linked>a {
    /* text-decoration: none; */
    color: black;
}

#name {
    font-size: xx-large;
    align-self: center;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
}

#cmu {
    font-weight: bolder;
    margin: 0.5vmin;
    padding: 0.3vmin 0.4vmin;
    border-radius: 0.5vmin;
    color: var(--cmu-red);
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    margin-top: 5vh;
    width: 98vw;
}